 <div class="alert alert-info" role="alert">
 	<h1>Simple Csv</h1>
     <p>This application is constructed in two parts.</p>
     <p>1. Front end written in html, javascript using twitter bootstrap and angular js.</p>
     <p>2. Back end web service written using OWIN with the ASP.Net web api framework. The server uses MSSQL for storage and Entity Framework as ORM.</p>
</div>
