<div class="alert alert-danger" role="alert" ng-repeat="invalidImportResult in InvalidImportResults">
	<div class="pull-right">
	 	<a ng-click="OnPersonUpdate()" class="btn btn-info btn-circle"> <i class='fa fa-edit'></i></a>
	 </div>
	 <strong>Import Failed! </strong><p>The line in the csv is invalid</p>
	 <pre>
         {{invalidImportResult.Line}}
     </pre>
     <strong>Validation Faults</strong>
     <ul ng-repeat="errorMessage in invalidImportResult.ErrorMessages">
	  <li>{{errorMessage}}</li>
	</ul>
	 <dl class="dl-horizontal" >
	 	<div ng-repeat="validationResults in invalidImportResult.ValidationResults">
		  <dt>{{validationResults.Field}}</dt>
		  <dd>{{validationResults.Message}}</dd>
		</div>
	</dl>
	<div ng-show="UpdatePerson">
	</div>
</div>