		<form role="form" class="form-horizontal" name="updatePersonForm">
		    <fieldset>
		    	<div class="form-group" ng-class="{ 'has-error': updatePersonForm.id.$dirty && updatePersonForm.id.$invalid}">
		        	 <label for="firstName" class="col-sm-2 control-label">Id</label>
		        	    <div class="col-sm-10">
			             <input class="form-control" 
				             name="id" 
				             ng-model="Person.Id" 
				             type="text" 
				             autofocus 
				             required>
			             <div ng-show="updatePersonForm.id.$dirty && updatePersonForm.id.$invalid" class="text-danger">
			              <span ng-show="updatePersonForm.id.$error.required" >Give an id.</span>
			             </div>
		        	</div>
		        </div>
		        <div class="form-group" ng-class="{ 'has-error': updatePersonForm.firstName.$dirty && updatePersonForm.firstName.$invalid}">
		        	 <label for="firstName" class="col-sm-2 control-label">First Name</label>
		        	    <div class="col-sm-10">
			             <input class="form-control" 
				             placeholder="please provide your name" 
				             name="firstName" 
				             ng-model="Person.FirstName" 
				             type="text" 
				             autofocus 
				             required>
			             <div ng-show="updatePersonForm.firstName.$dirty && updatePersonForm.firstName.$invalid" class="text-danger">
			              <span ng-show="updatePersonForm.firstName.$error.required" >Tell me your first name.</span>
			             </div>
		        	</div>
		        </div>
		         <div class="form-group" ng-class="{ 'has-error': updatePersonForm.surname.$dirty && updatePersonForm.surname.$invalid}">
		         	 <label for="surname" class="col-sm-2 control-label">Surname</label>
		         	  <div class="col-sm-10">
			             <input class="form-control" 
				             placeholder="please provide your surname" 
				             name="surname" 
				             ng-model="Person.Surname" 
				             type="text" 
				             autofocus 
				             required>
			             <div ng-show="updatePersonForm.surname.$dirty && updatePersonForm.surname.$invalid" class="text-danger">
			              <span ng-show="updatePersonForm.surname.$error.required" >Tell me your surname.</span>
			            </div>
		        	</div>
		        </div>
		        <div class="form-group" ng-class="{ 'has-error': updatePersonForm.age.$dirty && updatePersonForm.age.$invalid}">
		        	<label for="age" class="col-sm-2 control-label">Age</label>
		         	  <div class="col-sm-10">
			             <input class="form-control" 
				             placeholder="please provide your age" 
				             name="age" 
				             ng-model="Person.Age" 
				             type="text" 
				             autofocus 
				             required
				             ng-pattern="/^[0-9]+$/">
			             <div ng-show="updatePersonForm.age.$dirty && updatePersonForm.age.$invalid" class="text-danger">
			              <span ng-show="updatePersonForm.age.$error.required" >Tell me your cell phone number.</span>
			            </div>
			            <div ng-show="updatePersonForm.age.$error.pattern" class="text-danger">
			              <span >Please provide valid age.</span>
			            </div>
		        	</div>
		        </div>
		        <div class="form-group" ng-class="{ 'has-error': updatePersonForm.sex.$dirty && updatePersonForm.sex.$invalid}">
		        	<label for="sex" class="col-sm-2 control-label">Sex</label>
		         	  <div class="col-sm-10">
		         	  	<select class="form-control" ng-model="Person.Sex">
		         	  		<option value="">Please select a sex</option>
        					<option ng-repeat='gender in Genders'>{{gender}}</option>
		         	  	</select>
			             <div ng-show="updatePersonForm.mobile.$dirty && updatePersonForm.mobile.$invalid" class="text-danger">
			              <span ng-show="updatePersonForm.mobile.$error.required" >Tell me your cell phone number.</span>
			            </div>
		        	</div>
		        </div>
		        <div class="form-group" ng-class="{ 'has-error': updatePersonForm.mobile.$dirty && updatePersonForm.mobile.$invalid}">
		        	<label for="mobile" class="col-sm-2 control-label">Mobile Number</label>
		         	  <div class="col-sm-10">
			             <input class="form-control" 
				             placeholder="please provide your mobile number" 
				             name="mobile" 
				             ng-model="Person.Mobile" 
				             type="text" 
				             autofocus 
				             required
				             ng-pattern="/^[0-9]+$/"
				             ng-minlength="10" 
							 ng-maxlength="13" >
			             <div ng-show="updatePersonForm.mobile.$dirty && updatePersonForm.mobile.$invalid" class="text-danger">
			              <span ng-show="updatePersonForm.mobile.$error.required" >Tell me your cell phone number.</span>
			            </div>
			             <div ng-show="updatePersonForm.mobile.$error.pattern" class="text-danger">
			              <span >Please provide valid mobile number.</span>
			            </div>
			            <span ng-show="updatePersonForm.mobile.$error.minlength || updatePersonForm.mobile.$error.maxlength">
							  Your value has to be more than a minimum of 10 and less than 13 characters!
						</span>
		        	</div>
		        </div>
		        <div class="form-group" >
		        	<label for="isActive" class="col-sm-2 control-label">Active</label>
		         	  <div class="col-sm-10">
			             <input class="form-control" 
				             name="isActive" 
				             ng-model="Person.IsActive" 
				             type="checkbox" 
				             autofocus 
				             required >
		        	</div>
		        </div>
		         
		        <div lass="form-group">
		        	<label for="surname" class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
		        		<input type="button" ng-disabled="updatePersonForm.$invalid" class="btn btn-lg btn-success btn-block" value="Update" ng-click="UpdatePerson()" />
		        	 </div>
		        </div>
		        
		    </fieldset>
		</form>
