 <div class="alert alert-info" role="alert">
           <p> Please attach a csv file to upload a new list of people to our database....</p>
           <br />
           <strong>Note</strong> <br />
           <p> The file format that has to provided must be in the format:<p/>
            <pre>
                Identity,FirstName,Surname,Age,Sex,Mobile,Active,
                1,Joe,Van Tonder,34,M,0725329854,TRUE,
            </pre>
</div>

<div class="panel panel-default">
  <div class="panel-body">
     <form role="form" class="form-inline" name="uploadPersonCsvForm">
      <div class="form-group" ng-class="{ 'has-error': uploadPersonCsvForm.personCsv.$dirty && uploadPersonCsvForm.personCsv.$invalid}">
        <label for="personCsv" class="col-sm-2 control-label"></label>
        <input name="personCsv" type="file" >
      </div>
      <div class="form-group">
        <input type="button" ng-disabled="uploadPersonCsvForm.$invalid" class="btn btn-success" value="Upload" ng-click="Upload()" />
      </div>
  </form>
  </div>
</div>
<hr />
<persons></persons>
<hr />
<invalid-person-csv-upload></invalid-person-csv-upload>